
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>AMIS</title>
  </head>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <marquee direction="right" behavior="alternate"><em class="navbar-brand " href="#">ADVANCE MEDICAL INTEGRATION SYSTEM </em></a></marquee>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" >
      <a href="{% url 'registration'%}"  class="btn btn-warning"  style="margin-left:auto;">Registration</a>
      <a href="{% url 'login'%}" class="btn btn-success" <a href="#" style="margin-left:10px;">Login</a>
    </form>
  </div>
</nav>
      <div class="container" style="margin-top:30px;">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Application</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#profile">Developer</a>
  </li>

</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="home">
    <p class="text-info" >Prediction forms a core component of what healthcare professionals do every day.
        AI can operate as a fast, accurate, and in the long run, cost-effective method to assist human experience and
        intuition through predictive analytics. AI is not meant to replace doctors, but rather empower healthcare professionals
        by adding a data-driven context that delivers the right information at the right time,
        allowing them to make more informed decisions. With more educated decisions, we can be proactive in our care rather than reactionary. </div>
  <div class="tab-pane fade active show" id="profile">
    <p class="text-info">A developer is an individual who is responsible for creating or working on the development
        of a product or service. Most developers utilize one or more programming languages to develop their product or service.
        They may work alone or on a team, and may develop part of or all a product or service.
        Companies like Microsoft and Oracle employ many developers, due to the complexity of the products and services
        they develop and sell to customers.</p>
  </div>
</div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{%static "assets/images/doclogo.png"%}">
    <div class="text-center lg:w-2/3 w-full">
      <h3 class="title-font sm:text-3xl text-2xl mb-4 font-small text-gray-900">ADVANCE MEDICAL INTEGRATION SYSTEM</h3>
      <p class="mb-8 leading-relaxed">The Advanced Medical Systems is in business for over 20 years now and has been supplying quality
        products to many doctors, various hospitals, private organizations and distributors at wholesale prices.
      We are committed to being very aggressive in our attitude towards quality and customer service, primarily since we
        want to be ranked as the “best”</p>
    </div>
  </div>
</section>
<footer class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">AMIS</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Drakgrids —
      <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@amis</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
      </body>
</html>