<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Query|Form</title>
  </head>
  <body>
  <div class="container">
    <form action="{%url 'formservice' %}" method="POST" class="form-horizontal">
      {%csrf_token%}
  <fieldset>
 <legend class="text-warning" style="margin-top:10px;">Query Forms For Lab and Pharmastore:</em></legend>
<div class="container">
<hr class="my-4" style="height:2px;border-width:0;color:gray;background-color:gray">
      </div>
<div class="form-group has-warning">
      <label for="inputName" class="col-lg-2 control-label">Full Name:</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" name="fname" value="{{data.username}}" placeholder="Full Name">
      </div>
    </div>
      <div class="form-group has-warning">
      <label for="inputAdd" class="col-lg-2 control-label">Full Address:</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputAdd" name="faddress" value="{{data.address}}" placeholder="Full Address">
      </div>
    </div>
       <div class="form-group">
      <label for="inputPin" class="col-lg-2 control-label">Your PIN Code:</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="inputPin" name="pin" value="{{data.postal}}" placeholder="Your PIN Code:">
      </div>
    </div>
      <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Your Gender:</label>
      <div class="col-lg-10">
        <select class="form-control" name="gender" id="select">
            <option>{{data.gender}}</option>
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </div>
          <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Your Purpose:</label>
      <div class="col-lg-10">
        <select class="form-control" name="purpose" id="select">
            <option>select Ones</option>
          <option>Sample Collection:</option>
          <option>Report Collection</option>
          <option>Appointment/Visit</option>
        </select>
      </div>
              <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="email" id="inputEmail" value="{{data1.email}}" placeholder="Email">
      </div>
    </div>
              <div class="form-group">
      <label for="inputPhon" class="col-lg-2 control-label">Your Phone Number:</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="inputPhone" name="phone" value="{{data.phone}}" placeholder="Your Contact Number">
      </div>
              </div>


    </div> <div class="col-lg-10">
            <button type="submit" class="btn btn-success">Submit Your Form</button>
              <a href="{% url 'tech'%}" class="btn btn-primary" style="margin-left:40px;">Back To Previous</a>
          </div>
     


  </form>

  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});


</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>